$accent-color: #00C296;


.Lesson {
  color: white;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  min-height: 50vh;
  padding: 30px 25px;
}

// .Lesson-grid {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   grid-gap: 50px;
// }

.Lesson-info-container {
  padding: 25px;
}

.Lesson-header {
  font-size: 50px;
  margin: 0 0 30px 0;
  border-bottom: 1px solid white;
}

.Lesson-text {
  font-weight: 300;
  margin: 0;
}

.Lesson-code {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 0;
}

.Lesson-inputs > p {
  margin: 25px 0 5px 0;
}

.Lesson-samples {
  background-color: white;
  color: grey;
  padding: 15px;
  border-radius: 2px;

  & li {
    margin-left: 20px;
  }
}

.Lesson-reminder {
  color: $accent-color;
}