.Lesson {
  color: white;
  align-items: center;
  max-width: 800px;
  margin: auto;
}

.Lesson-header {
  font-size: 50px;
  margin: 30px 0;
}

.Lesson-text {
  font-weight: 300;
}

.Lesson-regex {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 0;
}