$accent-color: #00C296;


.Lesson {
  color: white;
  align-items: center;
  margin: auto;
  height: 100vh;
  padding: 30px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Lesson-container {
  width: 1000px;
}

.Lesson-info-container {
  padding: 25px;
}

.Lesson-header {
  font-size: 50px;
  margin: 0 0 30px 0;
  border-bottom: 1px solid white;
}

.Lesson-text {
  font-weight: 300;
  margin: 0;
}

.Lesson-code {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 0;
}

.Lesson-inputs > p {
  margin: 25px 0 5px 0;
}

.Lesson-samples {
  background-color: white;
  color: grey;
  padding: 15px;
  border-radius: 2px;

  & li {
    margin-left: 20px;
  }
}

.Lesson-reminder {
  color: orange;
}