.Sandbox {
  height: 100vh;
  max-width: 1280px;
  margin: auto;
  color: white;
  padding: 50px 25px;
}

.Sandbox-header {
  margin: 0 0 25px 0;
  font-size: 50px;
  line-height: 100%;
}

.Sandbox-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
}