*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
}